* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* KUNCI SCROLL */
  font-family: 'Georgia', serif;
}

#wrapper {
  height: 100vh;
}

.panel {
  height: 100vh;
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover {
  background: url("images/cover.jpg") center/cover no-repeat;
  color: gold;
}

.dark {
  background: #0f0f0f;
  color: #fff;
}

.light {
  background: #ffffff;
  color: #222;
}

h1, h2, h3 {
  margin: 10px 0;
}

button {
  margin-top: 25px;
  padding: 14px 36px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, gold, #d4af37);
  font-weight: bold;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  max-width: 450px;
}

.gallery img {
  width: 100%;
  border-radius: 12px;
}

input, select {
  width: 80%;
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  border: none;
}

#countdown {
  font-size: 26px;
  margin-top: 20px;
}
